// Colors

$clr-text-pr: #0b0b0b;
$clr-text-sc: rgba(11,11,11,.5);

$clr-background: #fff;

// Media Queries

$mq-xlarge: 1000px;
$mq-large: 800px;
$mq-medium: 600px;

@mixin mq($width) {
    @media (min-width: $width) {
        @content;
    }
}