@import 'reset';
@import 'type';
@import 'variables';

body {
    background-color: $clr-background;
    color: $clr-text-pr;
    font-family: $laica;
}

p {
    @include text-body();
    color: $clr-text-sc;
}

h1 {
    @include text-body();
    color: $clr-text-pr;
}

header {
    display: flex;
    flex-direction: column;
}

.debug {
    position: relative;
}

#media-test {
    @include text-body();
    position: absolute;
    top: 0;
    right: 0;

    #small {
        opacity: 1;
    }

    #medium, #large {
        opacity: 0;
    }

    @include mq($mq-medium) {
        #small, #large {
            opacity: 0;
        }

        #medium {
            opacity: 1;
        }
    }

    @include mq($mq-large) {
        #small, #medium {
            opacity: 0;
        }

        #large {
            opacity: 1;
        }
    }
}
