*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

@font-face {
  font-family: "Laica";
  font-weight: 300;
  font-style: normal;
  src: url(fonts/ABCLaica-Light-Trial.woff) format("woff"), url(fonts/ABCLaica-Light-Trial.woff2) format("woff2");
}
@font-face {
  font-family: "Laica";
  font-weight: 300;
  font-style: italic;
  src: url(fonts/ABCLaica-LightItalic-Trial.woff) format("woff"), url(fonts/ABCLaica-LightItalic-Trial.woff2) format("woff2");
}
@font-face {
  font-family: "Oracle";
  font-weight: 500;
  font-style: normal;
  src: url(fonts/ABCOracle-Book-Trial.woff) format("woff"), url(fonts/ABCOracle-Book-Trial.woff2) format("woff2");
}
@font-face {
  font-family: "Items";
  font-weight: 300;
  font-style: normal;
  src: url(fonts/ItemsDemo-Light.woff) format("woff");
}
body {
  background-color: #fff;
  margin: 40px 40px;
}

.container {
  position: relative;
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
@media (min-width: 800px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
  }
}

.h-main, .n-main {
  grid-row: 1/2;
}

.h-main {
  font-family: "Oracle", "Courier", "Times";
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  grid-column: 1/-1;
}
.h-main h1 {
  color: #0b0b0b;
}
.h-main p {
  color: rgba(11, 11, 11, 0.5);
}

.n-main {
  grid-column: 4;
  justify-self: end;
  font-family: "Laica", "Helvetica", "Georgia";
  font-size: 15px;
  line-height: 21px;
  font-style: italic;
}
@media (min-width: 800px) {
  .n-main {
    grid-column: 12;
  }
}
.n-main a {
  color: #0b0b0b;
  text-decoration: none;
}

.s-project-list {
  grid-column: 1/-1;
  grid-row-start: 2;
  margin: 60px 0;
}
.s-project-list .p-project-list {
  text-align: center;
}
@media (min-width: 800px) {
  .s-project-list {
    grid-column: 3/11;
    margin: 70px 0;
  }
}

.p-project-list {
  font-family: "Laica", "Helvetica", "Georgia";
  font-style: italic;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: -0.025em;
}
@media (min-width: 800px) {
  .p-project-list {
    font-size: 42px;
    line-height: 60px;
  }
}

.s-cv-list {
  grid-column: 1/-1;
  grid-row-start: 3;
}
@media (min-width: 800px) {
  .s-cv-list {
    grid-column: 5/9;
  }
}

.rule-list-item {
  font-family: "Oracle", "Courier", "Times";
  font-size: 15px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba(11, 11, 11, 0.1);
  padding: 20px 0;
}

.list-item-subtitle {
  color: rgba(11, 11, 11, 0.5);
}

.btn-cta {
  font-family: "Oracle", "Courier", "Times";
  font-size: 15px;
  line-height: 21px;
  grid-column: 1/-1;
  grid-row-start: 4;
  margin: 40px 0;
  justify-self: center;
  padding: 14px 21px;
  background-color: #0b0b0b;
  border-radius: 100px;
}
.btn-cta a {
  text-decoration: none;
  color: #fff;
}
@media (min-width: 800px) {
  .btn-cta {
    grid-column: 6/8;
  }
}

/*# sourceMappingURL=app.css.map */
