@import 'variables';

// Type Styles

@mixin text-body() {
    font-family: $oracle;
    font-size: 0.9375rem;
    line-height: 21px;
    letter-spacing: 0.00938rem;
}

// @mixin text-laica() {
//     font-family: $laica;
//     font-size: 15px;
//     line-height: 21px;
// }

// @mixin text-items() {
//     font-family: $laica;
//     font-style: italic;
//     font-size: 28px;
//     line-height: 160%;
//     letter-spacing: -.025em;
    
//     @include mq($mq-large) {
//         font-size: 42px;
//         line-height: 60px;
//     }
// }

// Grid

@mixin grid-layout() {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;

    @include mq($mq-medium) {
        grid-template-columns: repeat(6, 1fr);
    }

    @include mq($mq-large) {
        grid-template-columns: repeat(12, 1fr);
    }

    @include mq($mq-xlarge) {
        grid-template-columns: repeat(12, 1fr);
    }
}

// Media Query

@mixin mq($width) {
    @media (min-width: $width) {
        @content;
    }
}