// // Laica

// @font-face {
//     font-family: "Laica";
//     font-weight: 300;
//     font-style: normal;
//     src: url(fonts/ABCLaica-Light-Trial.woff) format('woff'), 
//          url(fonts/ABCLaica-Light-Trial.woff2) format('woff2');
// }

// @font-face {
//     font-family: "Laica";
//     font-weight: 300;
//     font-style: italic;
//     src: url(fonts/ABCLaica-LightItalic-Trial.woff) format('woff'), 
//          url(fonts/ABCLaica-LightItalic-Trial.woff2) format('woff2');
// }

// Oracle

@font-face {
    font-family: "Oracle";
    font-weight: 500;
    font-style: normal;
    src: url(fonts/ABCOracle-Book.woff) format('woff'), 
         url(fonts/ABCOracle-Book.woff2) format('woff2');
}
