// Colors

$clr-text-pr: #0b0b0b;
$clr-text-sc: rgba(11,11,11,.5);

$clr-ui: rgba(11,11,11,.1);

$clr-background: #fff;

// Media Queries

$mq-xlarge: 2560px;
$mq-large: 1440px;
$mq-medium: 600px;

// Type Stacks

// $laica: "Laica","Helvetica","Georgia";
$oracle: "Oracle", "Courier", "Times";